<template>
  <div>
    <b-container fluid class="mt-5">
      <div class="row mx-auto" dir="rtl">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-12 text-center">
              <p>
                <i class="fas fa-long-arrow-alt-right"></i>
                برگشت
              </p>
              <h3 class="mb-5">از چه پنلی استفاده میکنید؟</h3>
            </div>
          </div>
          <b-card-group deck>
            <b-card v-for="(card, index) in cards" :key="index" :title="card.title" class="text-center">
              <p v-for="(text, index) in card.texts" :key="index">{{text}}</p>
              <div :class="{'card-price' : true , 'mt-8' : card.price===''}">
                  <b-button-group class="my-4" v-if="card.price !=''">
                    <b-button class="px-4" variant="dark" @click="handleAnnualPrice(index)">سالانه</b-button>
                    <b-button class="px-4" variant="light" @click="handleOriginalPrice(index)">ماهانه</b-button>
                  </b-button-group>
                    <h3 class="text-success" v-if="card.price != '' && !card.isAnnuualy">{{card.price}} هزار تومان</h3>
                    <h3 class="text-success" v-if="card.isAnnuualy">{{card.yearlyPrice}} هزار تومان</h3>
                    <h3 class="text-success" v-if="card.price === ''">رایگان</h3>
                <button class="btn-rounded mt-3">شروع</button>
              </div>
            </b-card>
          </b-card-group>
        </div>
      </div>
    </b-container>
  </div>
</template>

<script>
  export default {
    name: 'Cards',
    data () {
      return {
        cards: [{
          title: 'تا 8 روز نامحدود',
          texts:['آدرس اینترنتی ir. رایگان','ایجاد 15 صفحه متنوع','ایجاد 100 محصول فروشگاهی','ساخت فرم و اتصال به درگاه پرداخت','بازاریابی محتوایی و وبلاگ نویسی','ایمیل اختصاصی','پشتیبانی 24 ساعته'],
          price: '',
          yearlyPrice : 0*1.5,
          isAnnuualy: false
        },
        {
          title: 'ساده',
          texts:['آدرس اینترنتی ir. رایگان','ایجاد 15 صفحه متنوع','ایجاد 100 محصول فروشگاهی','ساخت فرم و اتصال به درگاه پرداخت','بازاریابی محتوایی و وبلاگ نویسی','ایمیل اختصاصی','پشتیبانی 24 ساعته'],
          price: 190,
          yearlyPrice : 190*1.5,
          isAnnuualy: false
        },
        {
          title: 'اختصاصی',
          texts:['آدرس اینترنتی ir. رایگان','ایجاد 15 صفحه متنوع','ایجاد 100 محصول فروشگاهی','ساخت فرم و اتصال به درگاه پرداخت','بازاریابی محتوایی و وبلاگ نویسی','ایمیل اختصاصی','پشتیبانی 24 ساعته'],
          price: 290,
          yearlyPrice : 290*1.5,
          isAnnuualy: false
        },
        {
          title: 'حرفه ای',
          texts:['آدرس اینترنتی ir. رایگان','ایجاد 15 صفحه متنوع','ایجاد 100 محصول فروشگاهی','ساخت فرم و اتصال به درگاه پرداخت','بازاریابی محتوایی و وبلاگ نویسی','ایمیل اختصاصی','پشتیبانی 24 ساعته'],
          price: 350,
          yearlyPrice : 350 * 1.5,
          isAnnuualy: false

        },

        ]
      }
    },
    methods: {
      handleAnnualPrice (index) {
        this.cards[index].isAnnuualy = !this.cards[index].isAnnuualy
      },
      handleOriginalPrice (index) {
        if(this.cards[index].isAnnuualy) {
        this.cards[index].isAnnuualy = !this.cards[index].isAnnuualy
        }
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .card-body {
    transition: all 300ms ease-in-out;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    direction: rtl;
  }

  .card-body {
    font-family: ShabnamLight;
  }

  .card-title {
    margin-top: 15px;
    margin-bottom: 55px;
  }

  .card:hover .card-body {
    background: #333;
    color: #fff;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }

  .card-text {
    font-family: ShabnamLight !important;
    margin-bottom: 0;
  }

  .card .has-tooltip {
    background: transparent !important;
    border: none;
    padding: 0;
    margin: 10px 0 0 !important;
  }

  .card:hover i.fas {
    color: #fff;
  }

  .card:hover .btn-rounded {
    background: #fff;
    color: #333
  }

  .card-price {
    margin-top: 70px;
  }

  .btn-rounded {
    background: #333;
    color: #fff;
    border-radius: 25px;
    border: none;
    padding: 10px 45px;
    cursor: pointer;
    transition: all 100ms;
  }
.mt-8 {
  margin-top: 160px;
}
  .btn-rounded:focus {
    outline: none;
  }

  .btn-rounded:active {
    transform: translateY(5px)
  }
  .btn-group {
    flex-direction: row-reverse !important;
  }
.menu-popover-enter,
.menu-popover-leave-to {
  opacity: 0;
  transform: rotateY(50deg);
}
.menu-popover-enter-to,
.menu-popover-leave {
  opacity: 1;
  transform: rotateY(0deg);
}
.menu-popover-enter-active,
.menu-popover-leave-active {
  transition: opacity, transform 500ms ease-out;
}
</style>