<template>
  <div id="app">
    <Cards/>
  </div>
</template>

<script>
import Cards from './components/Cards.vue'

export default {
  name: 'app',
  components: {
    Cards
  }
}
</script>

<style>
@font-face {
  font-family: ShabnamLight;
  src: url('./assets/fonts/Shabnam.ttf');
  font-weight: normal;
}
body {
  font-family: ShabnamLight !important;
}
</style>
